[user]
    name = Dominic Luidold
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"
    allowedSignersFile = ~/.ssh/allowed_signers
[core]
    commentChar = auto
    editor = vim
[fetch]
    prune = true
    pruneTags = true
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[alias]
    bb = "!~/.dotfiles/git/better-git-branch.sh"
